argparse==1.4.0
fastapi==0.95.0
uvicorn==0.30.5
js2py==0.74.0
pytest==8.3.2
pyyaml==6.0.1
prometheus_fastapi_instrumentator==6.1.0
requests==2.32.3
httpx
doT-js-py==2.0.0

# Logging to sentry
sentry_sdk

# Logging to Cloudwatch
boto3
python-json-logger
watchtower