argparse==1.4.0
fastapi==0.115.2
uvicorn==0.31.1
js2py==0.74.0
pytest==8.3.3
pyyaml==6.0.2
prometheus_fastapi_instrumentator==7.0.0
requests==2.32.3
httpx
doT-js-py==2.0.0
setuptools>=70.0.0
# Logging to sentry
sentry_sdk

# Logging to Cloudwatch
boto3
python-json-logger
watchtower